#area-cabecalho{
    background-color: #F7B600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

h1{
    color: #4E4E4E;
    font-size: 2.5em;
}

.branco{
    color: white;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #FFF;
    padding: 8px 12px;
}

a:hover{
    color: #F7B600;
    background-color: #FFF;
}

#area-principal{
    width: 928px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens{
    width: 660px;
    float: left;
}